<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="app">
    <!--v-if用于根据条件判断该标签的内容要不要展示-->
    <h2 v-if="isShow">{{message}}</h2>
    <!--v-if与v-else搭配使用-->
    <h2 v-if="isShow">{{sunny}}</h2>
    <h2 v-else>{{rainy}}</h2>

    <h2 v-if="score>= 90">AA</h2>
    <h2 v-else-if="score>= 80">BB</h2>
    <h2 v-else-if="score>= 60">CC</h2>
    <h2 v-else>DD</h2>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
       el: '#app',
       data:{
         message:'hello',
         sunny:'晴天',
         rainy:'雨天',
         score:90,
         isShow:true
       }
    })
  </script>
</body>
</html>